description "Docker Registry"
version "0.9.0"
author "Docker, Inc."

start on runlevel [2345]
stop on runlevel [016]

respawn
respawn limit 10 5

# set environment variables
env REGISTRY_HOME={{docker_registry_store_path}}
env SETTINGS_FLAVOR=local
env DOCKER_REGISTRY_CONFIG={{docker_configuration_path}}/config.yml

setuid www-data

script
cd $REGISTRY_HOME
exec gunicorn -k gevent --max-requests 100 --graceful-timeout 3600 -t 3600 -b 127.0.0.1:5000 -w 2 --access-logfile {{docker_log_path}}/access.log --error-logfile {{docker_log_path}}/server.log docker_registry.wsgi:application
end script